{{> header}}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading display-table">
                    <div class="row display-tr">
                        <div class="pull-left">
                            <div class="display-td">
                                <div class='card-type'>
                                    <h1 class="panel-title">PAYMENT OF {{totalPrice}} &euro;</h1>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="display-td">
                                <div class='card-type'>
                                    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/Amex.png'>
                                    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/Discover.png'>
                                    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/Visa.png'>
                                    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/MC.png'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form action="#/cart/payment" id="payment-form" method="post">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group required">
                                    <label class="form-control-label" for="cardNumber">CARD NUMBER</label>
                                    <input type="tel" id="cardNumber" name="cardNumber" placeholder="Valid Card Number"
                                           class="form-control" autocomplete="cc-number"
                                           required="required" autofocus/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group required">
                                    <label class="form-control-label" for="cardExpiry">EXPIRATION</label>
                                    <input type="tel" id="cardExpiry" name="cardExpiry" placeholder="MM / YY"
                                           class="form-control" autocomplete="cc-exp"
                                           required="required"/>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group required">
                                    <label class="form-control-label" for="cardCVC">CV CODE</label>
                                    <input type="tel" id="cardCVC" name="cardCVC" placeholder="CVC"
                                           class="form-control" autocomplete="cc-csc"
                                           required="required"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group required">
                                    <label class="form-control-label" for="couponCode">COUPON CODE</label>
                                    <input type="text" id="couponCode" name="couponCode" class="form-control"
                                           required="required"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <button class="btn btn-success btn-lg btn-block">Start Subscription</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}