{{> header}}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <img src="https://webnews.bg/uploads/images/36/7236/307236/768x432.jpg">
                <div class="carousel-caption">
                    <h4><a href="#">Дрийм тийм Барселона vs Отбор Стоичков</a></h4>
                    <p>Стадион "Берое"/ Stadium "Beroe" Стара Загора <a class="label label-primary" href="#" target="_blank">Buy Tickets</a></p>
                </div>
            </div><!-- End Item -->

            <div class="item">
                <img src="https://cdn-az.allevents.in/banners/1fba1125dfe236d6440513dd2a75a766">
                <div class="carousel-caption">
                    <h4><a href="#">LA LA LAND in concert</a></h4>
                    <p>National Palace of Culture, Hall 1 Sofia <a class="label label-primary" href="#" target="_blank">Buy Tickets</a></p>
                </div>
            </div><!-- End Item -->

            <div class="item">
                <img src="https://i.ytimg.com/vi/0NZWB1FzkPI/maxresdefault.jpg">
                <div class="carousel-caption">
                    <h4><a href="#">The Voice of Godsmack SULLY ERNA</a></h4>
                    <p>Sports hall "Arena Armeec" Sofia <a class="label label-primary" href="#" target="_blank">Buy Tickets</a></p>
                </div>
            </div><!-- End Item -->

            <div class="item">
                <img src="http://www.radiotangra.com/thumbnail.php?pic=2017/06/05/bf63662a150faaca6053c4f87c37929c.jpg&size_h=359&size_w=632&q=100">
                <div class="carousel-caption">
                    <h4><a href="#">50 години ЩУРЦИТЕ</a></h4>
                    <p>Ancient Theatre Plovdiv Пловдив <a class="label label-primary" href="#" target="_blank">Buy Tickets</a></p>
                </div>
            </div><!-- End Item -->

            <div class="item">
                <img src="http://placehold.it/760x400/dddddd/333333">
                <div class="carousel-caption">
                    <h4><a href="#">tempor invidunt ut labore et dolore magna aliquyam erat</a></h4>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">Free Bootstrap Carousel Collection</a></p>
                </div>
            </div><!-- End Item -->

        </div><!-- End Carousel Inner -->

        <ul class="list-group col-sm-4" onclick="carouselControls()">
            <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active"><h4>Дрийм тийм Барселона vs Отбор Стоичков</h4></li>
            <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><h4>LA LA LAND in concert</h4></li>
            <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><h4>The Voice of Godsmack SULLY ERNA</h4></li>
            <li data-target="#myCarousel" data-slide-to="3" class="list-group-item"><h4>50 години ЩУРЦИТЕ</h4></li>
            <li data-target="#myCarousel" data-slide-to="4" class="list-group-item"><h4>tempor invidunt ut labore et dolore magna aliquyam erat</h4></li>
        </ul>

        <!-- Controls -->
        <div class="carousel-controls">
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

    </div><!-- End Carousel -->

</div>

{{> footer}}