{{> header}}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            {{#each events}}
                {{> event}}
            {{else}}
                <p>No events in database</p>
            {{/each}}

        </div><!-- End Carousel Inner -->

        <ul class="list-group col-sm-4" onclick="carouselControls()">
            {{#each events}}
                {{> eventLi}}
            {{/each}}
        </ul>

        <!-- Controls -->
        <div class="carousel-controls">
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

    </div><!-- End Carousel -->

</div>

{{> footer}}
