<option value="Благоевград">Благоевград</option>
<option value="Бургас">Бургас</option>
<option value="Варна">Варна</option>
<option value="Велико Търново">Велико Търново</option>
<option value="Видин">Видин</option>
<option value="Враца">Враца</option>
<option value="Габрово">Габрово</option>
<option value="Добрич">Добрич</option>
<option value="Кърджали">Кърджали</option>
<option value="Кюстендил">Кюстендил</option>
<option value="Ловеч">Ловеч</option>
<option value="Монтана">Монтана</option>
<option value="Пазарджик">Пазарджик</option>
<option value="Перник">Перник</option>
<option value="Плевен">Плевен</option>
<option value="Пловдив">Пловдив</option>
<option value="Разград">Разград</option>
<option value="Русе">Русе</option>
<option value="Силистра">Силистра</option>
<option value="Сливен">Сливен</option>
<option value="Смолян">Смолян</option>
<option value="София">София</option>
<option value="Стара Загора">Стара Загора</option>
<option value="Търговище">Търговище</option>
<option value="Хасково">Хасково</option>
<option value="Шумен">Шумен</option>
<option value="Ямбол">Ямбол</option>