/* CAROUSEL */

#myCarousel > div.carousel-inner > div > img {
    width: 760px;
    height: 400px;
}

#myCarousel .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    text-shadow: none;
}

#myCarousel .list-group {
    position: absolute;
    top: 0;
    right: 0;
}

#myCarousel .list-group-item {
    border-radius: 0;
    cursor: pointer;
}

#myCarousel .list-group .active {
    background-color: #eee;
    color: #0076ad;
}

@media (min-width: 992px) {
    #myCarousel {
        padding-right: 33.3333%;
    }

    #myCarousel .carousel-controls {
        display: none;
    }
}

@media (max-width: 991px) {
    .carousel-caption p,
    #myCarousel .list-group {
        display: none;
    }
}

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic|Megrim);
* {
    box-sizing: border-box;
}

body {
    background: #eee;
    font-family: "Josefin Sans";
}

.event {
    border-radius: 4px;
    width: 400px;
    height: 150px;
    margin: 40px auto 0;
}

.event-side {
    padding: 10px;
    border-radius: 4px;
    float: left;
    height: 100%;
    width: calc(15% - 1px);
    box-shadow: 1px 2px 2px -1px #888;
    background: white;
    z-index: 1000;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    overflow: hidden;
    font-size: 0.8em;
    text-align: right;
}

.event-date, .event-time {
    position: absolute;
    width: calc(100% - 20px);
}

.event-date {
    top: 10px;
    font-size: 1.2em;
}

.event-time {
    bottom: 10px;
}

.to {
    display: block;
    position: relative;
    left: -25%;
}

.cut-out {
    border-radius: 1000px;
    width: 100%;
    height: 40%;
    display: block;
    position: absolute;
    left: -60%;
    top: 25%;
    background: #eee;
    box-shadow: inset -1px 2px 2px -1px #888
}

.dotted-line-separator {
    right: -2px;
    position: absolute;
    background: #fff;
    width: 5px;
    top: 8px;
    bottom: 8px;
}

.dotted-line-separator .line {
    /*border-right: 1px dashed #ccc;*/
    transform: rotate(90deg);
}

.dotted-line-separator .line:after {
    content: "| | | | | | | | | | | | | | | | | | | | | | | | | | |";
    overflow: hidden;
    display: block;
    position: relative;
    left: 1px;
    height: 90%;
    margin: 5px 0;
    color: rgba(204, 204, 204, 0.5);
}

.event-body {
    border-radius: 4px;
    float: left;
    height: 100%;
    width: 85%;
    box-shadow: 0 2px 2px -1px #888;
    background: white;
    padding-right: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.event-title, .event-location, .event-details {
    float: left;
    width: 54%;
    padding: 10px;
}

.event-title, .event-location {
    border-bottom: 1px solid #ccc;
}

.event-location, .event-details {
    height: 30%;
    line-height: 24px;
}

.event-title {
    height: 40%;
}

.event-title span {
    font-size: 0.5em;
    text-transform: uppercase;
    color: #888;
}

.event-title h3 {
    margin: 0;
}

.event-image {
    width: calc(46% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    float: left;
    overflow: hidden;
    text-align: center;
}

.image {
    display: block;
    height: 100%;
    width: 100%;
    background: no-repeat center;
    background-size: cover;
}

#modif-jumbotron {
    background-color: #0f0f0f;
}

#regBtn {
    margin-left: 5px;
}

/* USER HEADER STYLING */

#content > header > nav > div > ul > li > a {
    font-weight: bold;
}

#content > header > nav > div > ul.nav.navbar-nav.navbar-right > li:nth-child(3) > a {
    color: white;
}

/* ADMIN HEADER STYLING */

#admin > ul:nth-child(2) > li > a, #content > header > nav > div > div > a.adminNav {
    color: black;
}

#linkLogout {
    color: black;
}

#linkLogout:hover {
    color: red;
}

#admin > ul:nth-child(2) > li > a:hover {
    color: red;
}

#admin > ul.nav.navbar-nav.navbar-right > li:nth-child(2) > a {
    color: black;
    font-weight: bold;
}

#admin {
    background-color: #cccccc;
    border-color: #cccccc;
}

/* ADMIN USERS TABLE STILING */

#searchBtn {
    float: right;
    padding-right: 5px;
}

#showform {
    display: inline;
    width: 30%;
    float: right;
}

#searchInput {
    display: inline;
}

#selectUsers {
    float: left;
}

table.table-striped.table-hover {
    margin-top: 10px;
}

.adminUsersAction {
    display: inline-block;
}

#content > div > div > div > form > div > label {
    color: #0f0f0f;
}

#adminWelcome {
    text-align: center;
    font-size: 150px;
    color: #e2e2e2;
}

.headText {
    text-align: center;
    text-transform: uppercase;
}

/* LOGIN FORM STYLE */

.form h2, label {
    color: white;
}

.form button {
    font-weight: bold;
    font-variant-caps: small-caps;
}

#regSpan {
    margin-top: 10px;
    margin-right: 2px;
}

#regSpanText {
    color: white;
}

/*****************globals*************/

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em;
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.product-title, .price, .location {
    text-transform: UPPERCASE;
    font-weight: bold;
}

.checked, .price span {
    color: #ff9f1a;
}

.product-title, .rating, .product-description, .price, .dateTime, .location {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
}

.size {
    margin-right: 10px;
}

.size:first-of-type {
    margin-left: 40px;
}

.add-to-cart, .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff;
}

.not-available {
    text-align: center;
    line-height: 2em;
}

.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff;
}

.orange {
    background: #ff9f1a;
}

.green {
    background: #85ad00;
}

.blue {
    background: #0076ad;
}

.tooltip-inner {
    padding: 1.3em;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/*# sourceMappingURL=style.css.map */