{{> header}}
<div class="container-fluid">
    <h1 class="my-4">My Tickets</h1>
    <div class="row">
        {{#each tickets}}
            {{> ticket}}
        {{else}}
            <p>No tickets in database</p>
        {{/each}}
    </div>
</div>
{{> footer}}