{{> header}}

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-sm-10 col-xs-6">
            <h3 class="headText">User management</h3>
            <br>
            <form action="#/users" method="post">
                <div class="form-group" id="selectUsers">
                    <a class="btn btn-default" href="#/users">ALL</a>
                    <a class="btn btn-default" href="#/users/user">USER</a>
                    <a class="btn btn-default" href="#/users/admin">ADMIN</a>
                </div>
                <div id="searchInput">
                    <span id="searchForm">
                                <input id="showform" class="form-control" type="text" name="username" value=""/>
                            </span>
                    <span id="searchBtn">
                        <button class="btn btn-default">Find</button>
                            </span>
                </div>
            </form>
            <table class="table table-striped table-hover">
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
                {{#each users}}
                    {{> user}}
                {{/each}}
            </table>
        </div>
    </div>
</div>
{{> footer}}