{{#if isEmpty}}
    <p></p>
{{else}}
    <h1 class="my-4">Events
        <small></small>
    </h1>

    <div class="row">
        {{#each events}}
            {{> event}}

        {{else}}
            <p>No events in database</p>
        {{/each}}
    </div>
{{/if}}