{{> header}}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-sm-8 col-xs-8">
            <div class="form-group row">
                <h2 class="display-3">Search Ticket By Time:</h2>
            </div>
            <br/>
            <form action="#/searchByTime" id="eventAddForm" method="post">

                <div class="form-group row required">
                    <label class="form-control-label" for="eventTime">Event Time</label>
                    <input type="time" class="form-control" name="eventTime" id="eventTime" />
                </div>

                <br>
                <br>
                <div class="form-group row">
                    <button class="btn btn-default" >Search</button>
                    <a class="btn btn-default" href="#/home">Cancel</a>
                </div>
            </form>

        </div>
    </div>
</div>

{{> footer}}