{{> header}}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <form class="form" action='#/search/date' method="post">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">Filter By Date</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/search">Search By Title</a></li>
                            <li><a href="#/search/town">Search By Town</a></li>
                        </ul>
                    </div>
                    <div class="form-group required">
                        <input type="date" class="form-control" name="eventDate" id="eventDate" value="{{eventDate}}"/>
                    </div>

                    <div class="input-group-btn">
                        <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{> eventPage}}
</div>
{{> footer}}
