<form class="form" action='#/register' method="POST">
    <h2 class="glyphicon glyphicon-log-in"> User registration</h2>
    <br>
    <br>
    <div class="form-group col-md-6">
        <label for="firstName" class="form-control-label">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name">
    </div>
    <div class="form-group col-md-6">
        <label for="lastName" class="form-control-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name">
    </div>
    <div class="form-group col-md-12">
        <label for="username" class="form-control-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
    </div>
    <div class="form-group col-md-12">
        <label for="email" class="form-control-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
        <label for="password" class="form-control-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <div class="form-group col-md-6">
        <label for="repeatPassword" class="form-control-label">Repeat Password</label>
        <input type="password" class="form-control" id="repeatPassword" name="repeatPassword"
               placeholder="Repeat Password">
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="regBtn" class="btn btn-default">Register</button>
        </div>
    </div>
</form>