<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="index.html">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">Events
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/events">All Events</a></li>
                        {{#each categories}}
                            {{> navCategory}}
                        {{/each}}
                    </ul>
                </li>
                {{#if admin}}
                    <li class="userMenuItem"><a href="#/admin">Admin Panel <span
                            class="glyphicon glyphicon-user"></span></a></li>
                {{/if}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#if loggedIn}}
                    <li>
                        <a href="#/cart" class="userMenuItem">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/my/tickets" class="userMenuItem">My Tickets</a>
                    </li>
                    <li>
                        <a href="#/logout" class="userMenuItem">Logout <span class="glyphicon glyphicon-log-out"></span></a>
                    </li>
                    <li><a href="#/users/edit">Welcome, {{username}}!</a></li>
                {{else}}
                    <li><a href="#/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>
</header>