{{> header}}
<div class="container-fluid">
    <h1 class="my-4">Events
        <small>{{type}}</small>
    </h1>

    <div class="row">
        {{#each events}}
            {{> event}}
        {{else}}
            <p>No events in database</p>
        {{/each}}
    </div>
</div>
{{> footer}}